---

---

<header>
  <nav class="flex items-center justify-center py-3 px-5 gap-4">
    <a class="text-white font-bold" href="/">Home</a>
    <a class="text-white font-bold" href="/abaut">Sobre Nosotros</a>
    <a class="text-white font-bold" href="/prendas">Prendas</a>
  </nav>
</header>
