---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sobre Nosotros">
  <h1 class="text-white text-4xl">KEYS Shop</h1>
  <p class="text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum,
    possimus expedita eligendi minus sit, similique dolor quia illo quos quas
    officia ducimus porro. Vitae sapiente laborum est similique tempore.
  </p>
</Layout>
